$color: #d94f5c;

@mixin worm {
  &::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: $color;
    transition: all 0.3s;
    width: 0;
    height: 0.1em;
  }

  &:hover{
    color: $color;
    &::before{
      width: 100%;
      left: 0;
      background: $color;
    }      
  }
}

#nav{
  font-size: 1.8rem; //1.8rem
  width: 100%;
  min-height: 10.2vh;
  min-width: 550px;
  position: fixed;
  z-index: 1010;

  .navbar-brand{
    transition: 0.6s ease;
    font-size: 2.2rem; //2.2rem
    z-index: 1002;
    position: relative;

    @media (max-width: 600px) {
      & {
        display: none;
      }
    }

    @include worm;
  }

  .navbar-nav{
    margin-left: 2%;
    width: 100%;
    
    .nav-item{
      margin-top: 0.3%;
      transition: all 0.6s;
      position: relative;

      @media (min-width: 992px) {
        &:first-child{
          margin-left: auto;
        }
      }    

      &:nth-child(1){
        min-width: 177px;
      }

      &:nth-child(2){
        min-width: 217px;
      }

      &:last-child{
        min-width: 221px;
      }

      @include worm;
    }
  }  
}