.container-fluid{
  width: 95vw;
  .row{
    justify-content: space-around;
    margin: 0 0;
    // margin-left: 10vw;
    // width: 60vw;
    @media (max-width: 551px) {
      margin-top: 0; 
    }
  }
}