<div class="container-fluid">
  <div class="container-fluid drop">
    <div class="row" *ngIf="hasWorkObjecId">
      <div class="card col-xl-3 col-lg-4 col-md-4 col-xs-7 col-8" style="width: 18rem;" *ngFor='let item of list'>
        <img src="http://www.obltv.ru/upload/resize_cache/iblock/ea3/690_6900_1/cat.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{item.firstName}} {{item.middleName}} {{item.lastName}}</h5>
          <p class="card-text">Логин сотрудника - {{item.login}}</p>
          <p class="card-text">Пароль сотрудника - {{item.login}}</p>
          <p class="card-text">Должность сотрудника - {{item.role}}</p>
          <button class="btn btn-primary only-btn" (click)="addToWorkObject(item)">Добавить</button>
        </div>
      </div>
    </div>
    <a href="javascript: void(0)" class="krest" onclick="toggleDrop()"><img
        src="https://cdn.icon-icons.com/icons2/950/PNG/512/cross-symbol_icon-icons.com_74149.png" width="25px"
        height="25px" alt="krest"></a>
  </div>
  <div class="row">
    <ng-template [ngIf]="hasWorkObjecId" [ngIfElse]="allItems">
      <div class="card add-card col-xl-3 col-lg-4 col-md-4 col-xs-7 col-8" style="width: 18rem;" onclick="toggleDrop()">
        <img src="http://promstroyka.by/tmp/man1.jpg" class="card-img-top">
        <div class="card-body">
          <h5>Добавить сотрудника</h5>
        </div>
      </div>
      <div class="card col-xl-3 col-lg-4 col-md-4 col-xs-7 col-8" style="width: 18rem;" *ngFor='let item of items'>
        <img src="http://www.obltv.ru/upload/resize_cache/iblock/ea3/690_6900_1/cat.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{item.firstName}} {{item.middleName}} {{item.lastName}}</h5>
          <p class="card-text">Логин сотрудника - {{item.login}}</p>
          <p class="card-text">Пароль сотрудника - {{item.login}}</p>
          <p class="card-text">Должность сотрудника - {{item.role}}</p>
          <button class="btn btn-primary only-btn" (click)="deleteFromObject(item)">Удалить c объекта</button>
        </div>
      </div>
    </ng-template>
    <ng-template #allItems>
      <div class="card col-xl-3 col-lg-4 col-md-4 col-xs-7 col-8" style="width: 18rem;" *ngFor='let item of items'>
        <img src="http://www.obltv.ru/upload/resize_cache/iblock/ea3/690_6900_1/cat.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{item.firstName}} {{item.middleName}} {{item.lastName}}</h5>
          <p class="card-text">Логин сотрудника - {{item.login}}</p>
          <p class="card-text">Пароль сотрудника - {{item.login}}</p>
          <p class="card-text">Должность сотрудника - {{item.role}}</p>
          <div class="btn-group only-btn btn-group-md btn-group-block">
            <a class="btn btn-primary" routerLink="/employees/employee-edit/{{item.id}}">Изменить</a>
            <button class="btn btn-outline-primary" (click)="delete(item)">Удалить</button>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>