<div class="btn-group btn-group-lg btn-group-block">
    <a class="btn btn-secondary" routerLink="/details/{{workObjectId}}/employees/{{workObjectId}}">Сотрудники<span class="sr-only">(current)</span></a>
    <a class="btn btn-secondary" routerLink="/details/{{workObjectId}}/equipments/{{workObjectId}}">Оборудование<span class="sr-only">(current)</span></a>
    <a class="btn btn-secondary" routerLink="/details/{{workObjectId}}/work-tasks/{{workObjectId}}/work-task-list/{{workObjectId}}">Задачи<span class="sr-only">(current)</span></a>
</div>