$margin-top: 10.2vh;
$color-add: rgba(24, 22, 22, 0.808);

.container-fluid{
  padding: 1%;  //didn't understand 
  min-width: 551px;

  .row{
    margin: $margin-top 0 0 0 !important;

    @media (max-width: 551px) {
      margin: 0 !important;
    }

    .left-menu{
      transition: .5s ease-in-out;
      position: fixed;
      top: $margin-top;
      width: 32vw;
      left: -32vw;
      background-color: $color-add;
      height: 89.8vh;
      z-index: 1005;
      color: #fff;
      min-width: 350px;
      padding: 1%;

      &-btn{
        width: 30px;
        height: 30px;
        position: fixed;
        top: $margin-top + 5vh;
        left: 1vw;
        transition: .5s ease-in-out;
        transform: rotate(0deg);
        cursor: pointer;

        &-active{
          left: 33vw;

          span:nth-child(1){
            transform: rotate(135deg) translate(6px, -6px);
          }
          span:nth-child(2){
            display: none;
          }
          span:nth-child(3){
            transform: rotate(-135deg) translate(0px , -0.5px);
          }
        }

        span{
          display: block;
          margin: 5px 0;
          height: 3px;
          width: 100%;
          border-radius: 9px;
          background-color: $color-add;
          transform: rotate(0deg);
          transition: .25s ease-in-out;        
        }      
      }
      
      &-active{
        left: 0;
      }
    }
  }
}