// @import "../../employees/employee/employee.component.scss";
.row{ 
  justify-content: center;
  .test{
    margin-top: 10.2vh;
    align-self: flex-start;    
  }

  .right-block{
    margin-top: 0 !important;
  }
}

