<div class="container">
  <div *ngIf="hasWorkObjecId">
    <select class="custom-select">
      <option *ngFor='let object of list' value="{{object.id}}">{{object.name}}</option>
    </select>
  </div>
  <div class="row">
    <div class="card" style="width: 18rem;"
    *ngFor = 'let item of items'>
      <img src="https://img11.postila.ru/resize?w=660&src=%2Fdata%2F88%2F58%2Fcb%2F9b%2F8858cb9b026ed9d5864196f70c75af506f0ccbf88839b621487395c86e99e962.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{item.number}}</h5>
        <p class="card-text">{{item.name}}</p>
        <p class="card-text">{{item.description}}</p>
        <button class="btn btn-outline-warning" (click)="delete(item)">Удалить</button>
        <a class="btn btn-primary" routerLink="/equipments/equipment-edit/{{item.id}}">Изменить</a>
      </div>
    </div>
  </div>
</div>
